.declaration-order {
  /* Позиционирование */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

  /* Блочная модель */
  display: block;
  float: right;
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 10px;

  /* Типографика */
  font: normal 13px/1.5 "Arial", sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 1.5;
  font-family: "Arial", sans-serif;
  text-align: center;
  color: #333333;

  /* Оформление */
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  opacity: 1;

  /* Анимация */
  transition: color 1s;

  /* Разное */
  will-change: auto;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-style: normal;
  font-family: "Arial", sans-serif;
  background-image: url("../../images/stars.png");
}

a {
  // text-decoration: none;
  color: inherit;
}

.container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  max-width: 1024px;
  height: 100%;
  margin: 0 auto;
  background-color: #f5f5f5;

  .header {
    padding: 20px;
    box-sizing: border-box;
    line-height: 1.5;
    color: #f8f8f8;
    background-color: #333333;
    
    .qrcode {
      float: left;
      display: block;
      margin-right: 30px;
    }

    .header-title {
      float: right;
      margin-bottom: 10px;
      font-size: 20px;
    }

    .header-name {
      font-size: 45px;
      color: #ffffff;
    }
  }

  .main {
    padding: 20px;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f5f5f5;

    .data-section {
      padding: 15px 0;

      .data-section-title {
        padding-bottom: 10px;
      }

      // .contact-info-content,
      // .summary-content,
      // .skills-content,
      // .code-examples-content {
      //   font-size: 16px;
      //   line-height: 1.5;
      // }

      .skills-content-list,
      .certificates-geekbrains-list,
      .projects-list,
      .education-list {
        padding-left: 35px;
      }
    }
  }

  footer {
    padding: 20px;
    text-align: right;
    background-color: #d3d3d3;
  }
}

